#controls {
  height: 50%; }
  #controls #controls-top {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    #controls #controls-top #control-top {
      width: 25%;
      height: 100%;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #controls #controls-top #control-top:nth-child(1) {
        width: 40%; }
  #controls #controls-bottom {
    display: flex;
    justify-content: center;
    align-items: center; }

#start, #strict {
  height: 20px;
  width: 20px;
  border: black solid 3px;
  border-radius: 50%; }

#start {
  background-color: red; }

#strict {
  background-color: yellow; }

#strict-led {
  background-color: black;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translateY(-30px);
  border-radius: 50%; }

#switch {
  width: 50px;
  height: 20px;
  display: flex;
  background-color: black;
  margin: 0px 5px; }
  #switch #switch-btn {
    width: 50%;
    background-color: #002fff;
    border: black 2px solid;
    box-sizing: border-box; }
  #switch .switch-on {
    margin-left: 50%; }
